<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<form action="/concerts/add" method="post" name="form1">
<div class="form-group">
  <label for="exampleInputPassword1">ID</label>
  <input type="number" class="form-control" name="concertID" id="concertId" value="" placeholder="concertID">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Concert Name</label>
  <input type="text" name="concertName" class="form-control" id="concertName" placeholder="concertName" value="">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Location</label>
  <input type="text" name="concertLocation" class="form-control" id="concertLocation" placeholder="concertLocation" value="">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">Year</label>
  <input type="number" name="concertYear" class="form-control" id="concertYear" placeholder="Year" value="">
</div>

<input type="submit" class="btn btn-primary" value="Add">
</form>
</body>
</html>
