<!DOCTYPE html>
<html>
  <head>
    <title>Songs DB API</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Songs DB</h1>
    <p>Follow Link below to Navigate</p>
  </body>
  <div>
    <a href="/" class="btn btn-primary ml-3">Home</a>
    <a href="/concerts" class="btn btn-secondary ml-3">Concert</a>
    <a href="/artists" class="btn btn-info ml-3">Artist</a>
</div>
</html>
